<!DOCTYPE html>
<html>
    <head>
        <title>Map API </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        
    </head>
    <body>

        <h1>Welcome</h1>
        <p1> <%= coordinate["lat"]%> and <%= coordinate["lng"] %>  is coordinate of <%= employeeList[0]["address"] %> </p1>
            <% var lati = coordinate["lat"] %>
            <% var lngi = coordinate["lng"] %>
        <div id="map"></div>
        <!-- <% var coordinate = {lat: 19.0484114, lng: 72.853414} %> -->
        <script type="text/javascript">
            function initMap(){
            var options = {
                zoom : 11,
                center : {lat: 19.0484114, lng: 72.853414}
            };
            // The map, centered at Uluru
          var map = new google.maps.Map(
            document.getElementById('map'), options);

            addMarker({lat: 19.0484114, lng: 72.853414}, "1");
            addMarker({lat: <%= lati %> , lng: <%= lngi %>},"2");
            //for adding marker
            function addMarker(coordinates, employeeID){
                 var marker = new google.maps.Marker({
                position: coordinates
                , map: map
                , title : "Employee" + employeeID
                });
            }
        }


        </script>

        <!-- <script src="script.js"></script> -->
       
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzYBhHCBrtOdFPgRigpcG44gLA5AukmhA&callback=initMap">
        </script>
    </body>
</html>